doctype html
html
    head
        meta(charset="UTF-8")
        title Error
        style 
            include includes/style.css
    body 
        div(class='wrapper')
            h1 Internal Server Error
            p Request delay: #{delay} ms.